extends layout

block content
  #main.w640x320
    #slide1
      img(alt='logo', src='./img/logo.gif')
    #slide2.f360.green
      |MARILYN
      |MANSON
    #slide3.f240
      |Skip The Use
      |Kill It Kid
      |Eluveitie
    #slide4.pink
      .f300 Bastille
      .f240 THE Parov Stelar Band
    #slide5.f240
      |Metronomy
      |The Avener
      br
      |The Strypes
    #slide6.f240.blue
      |John Newman
      |Gentleman
    #slide7
      .f200 Ben l'Oncle Soul
      .f150 
        |The Bloody Beetroots 
        br
        |(SCBR DJ set)
      .f200 Danakil
    #slide8.orange
      .f225 The Cardigans
      .f187 Marlon Roudette
    #slide9.f240
      |Selah Sue
      |William White
      |Peace
    #slide10.violet
      .f360 Mika
      .f240 James Gruntz
    #slide11
      #slide11a
        img(src='./img/burger-small.gif', alt='burger')
      #slide11b
        .green MARILYN MANSON
        .green SKIP THE USE
        .pink BASTILLE
        .pink THE PAROV STELAR BAND
        .pink METRONOMY
        .blue JOHN NEWMAN
        .blue GENTLEMAN
        .orange THE CARDIGANS
        .orange MARLON ROUDETTE
        .orange SELAH SUE
        .violet MIKA
      #slide11c
        .big
          .green KILL IT KID / ELUVEITIE / THE AVENER
          .pink  / THE STRYPES /
          br
          .blue 
            |BEN L’ONCLE SOUL / THE BLOODY BEETROOTS (SBCR DJ SET) / 
            br
            |DANAKIL / 
          .orange WILLIAM WHITE / PEACE /
        .small
          .green John J. Presley
          .green John Dear
          .pink Elvett
          .blue Cee-Roo
          .blue Colveen
          .blue Boston Bun & Feadz
          br
          .orange Carrousel
          .violet James Gruntz
          .violet Jetlakes
          .violet Marcos Cabanas
          .violet Finale Caribana DJ Contest
        .violet …et beaucoup d’autres animations!
      #slide11d.white.f150 www.caribana.ch