extends layout

block content
  #main.w640x320
    #scroller.a2
      #slide1.a2
        img.burger(src='./img/burger-small.gif', alt='burger')
        img.logo(alt='logo', src='./img/logo.gif')
      #slide2.a2
        .green MARILYN MANSON
        .green SKIP THE USE
        .pink BASTILLE
        .pink THE PAROV STELAR BAND
        .pink METRONOMY
        .blue JOHN NEWMAN
        .blue GENTLEMAN
        .orange THE CARDIGANS
        .orange MARLON ROUDETTE
        .orange SELAH SUE
        .violet MIKA
      #slide3.a2
        .big
          .green KILL IT KID / ELUVEITIE / THE AVENER
          .pink  / THE STRYPES /
          br
          .blue 
            |BEN L’ONCLE SOUL / THE BLOODY BEETROOTS
            br
            |(SBCR DJ SET) / 
            |DANAKIL / 
          .orange WILLIAM WHITE / PEACE /
        .small
          .green John J. Presley
          .green John Dear
          .pink Elvett
          .blue Cee-Roo
          .blue Colveen
          br
          .blue Boston Bun & Feadz
          .orange Carrousel
          .violet James Gruntz
          .violet Jetlakes
          .violet Marcos Cabanas
          .violet Finale Caribana DJ Contest
          br
        .violet …et beaucoup d’autres animations!
      #slide4.white.a2 
        a(href="http://www.caribana.ch" target="_blank") www.caribana.ch
        img.burger(src='./img/burger-small.gif', alt='burger')
        img.logo(alt='logo', src='./img/logo.gif')