extends layout

block content
  #main.w640x320
    #slide1
      img(alt='logo', src='./img/logo.gif')
    #slide2.f360
      |MARILYN
      |MANSON
    #slide3.f240
      |Skip The Use
      |Kill It Kid
      |Eluveitie
    #slide4
      .f300 Bastille
      .f240 THE Parov Stelar Band
    #slide5.f240
      |Metronomy
      |The Avener
      |The Strypes
    #slide6.f240
      |John Newman
      |Gentleman
    #slide7
      .f200 Ben l'Oncle Soul
      .f150 
        |The Bloody Beetroots 
        |(SCBR DJ set)
      .f200 Danakil
    #slide8
      .f225 The Cardigans
      .f187 Marlon Roudette
    #slide9.f240
      |Selah Sue
      |William White
      |Peace
    #slide10
      .f360 Mika
      .f240 James Gruntz