@import '_settings'

normalize-css()
base()

timing = 0s

@keyframes scroll
  0%
    margin-left 0
  10%
    margin-left 0%
  15%
    margin-left -100%
  45%
    margin-left -100%
  50%
    margin-left -200%
  80%
    margin-left -200%
  85%
    margin-left -300%
  95%
    margin-left -300%
  100%
    margin-left -400%
  
.green
  color green
.pink
  color pink
.orange
  color orange
.blue
  color blue
.violet
  color violet
.white
  color white

#main
  background black
  color black
  overflow hidden
  font-family 'Source Sans Pro',sans-serif
  position relative
  &.w640x320
    width 640px
    height 320px
  &.w320x160
    width 320px
    height 160px
    #slide2
      div
        font-size 18px
    #slide3
      padding-top 1%
      div
        font-size 11px
        &.big
          display block
          margin-bottom 10px
          div
            font-size 13px
            line-height 13px
    #slide4
      padding-top 4%
      a
        font-size 20px
  > img
    position absolute
#scroller
  width 500%
  animation-name scroll
  animation-duration 20s
  animation-iteration-count 1
  animation-fill-mode forwards
  height inherit
div[id^=slide]
  width 20%
  background black
  height inherit
  text-align center
  box-sizing border-box
  text-transform uppercase
  font-weight bold
  position relative
  float left

.logo
  width 40%
  position absolute
  top 5%
  left 48%

.burger
  position absolute
  top 5%
  left -25%
  width 60%

#slide2
  padding-top .5%
  div
    display inline-block
    color white
    font-size 37px
#slide2, #slide3
  div
    &:after
      content '/'
      display inline-block
      padding-left 5px
      padding-right 2px
      font-weight normal
    &.green:after
      color green
    &.blue:after
      color blue
    &.pink:after
      color pink
    &.violet:after
      color violet
    &.orange:after
      color orange
  
#slide3
  padding-top 1.5%
  background black
  div
    display inline
    font-weight normal
    font-size 23px
  .big
    div
      font-size 26px
      &:after
        display none
  .small
    display block
    text-transform none
    div
      color white
  > .violet:after
    display none

#slide4
  background black
  animation-delay timing
  animation-duration 0s
  animation-name pushBurger
  padding-top 4.5%
  a
    color white
    text-decoration none
    font-size 40px
    line-height 40px
    position relative
    z-index 12
  .burger
    left 75%
  .logo 
    left 148%