@import '_settings'

normalize-css()
base()

timing = 0s

@keyframes scroll
  for num in (0..10)
    {10% * num}
      margin-top (-50%*num)
    {10% * num + 9%}
      margin-top (-50%*num)

@keyframes pushBurger
  0%
    left 100%
  100%
    left 0%
@keyframes burgerKicked
  0%
    left 0
  100%
    left -100%
  
.green
  color green
.pink
  color pink
.orange
  color orange
.blue
  color blue
.violet
  color violet
.white
  color white

.f360
  font-size 96px
  line-height 84px
.f300
  font-size 85px
  line-height 75px
.f240
  font-size 75px
  line-height 66px
.f225
  font-size 69px
  line-height 64px
.f200
  font-size 60px
  line-height 60px
.f187
  font-size 55px
  line-height 55px
.f150
  font-size 40px
  line-height 40px

timing = 10s

#main
  background black
  color black
  overflow hidden
  font-family 'Source Sans Pro',sans-serif
  &.w640x320
    width 640px
    height 320px
  &.w320x160
    width 320px
    height 160px
    #slide11
      div
        font-size (25px/2)
    #slide11c
      div
        font-size 9px
      .big
        div
          font-size 11px
    .f360
      font-size (96px/2)
      line-height (84px/2)
    .f300
      font-size (85px/2)
      line-height (75px/2)
    .f240
      font-size (75px/2)
      line-height (66px/2)
    .f225
      font-size (69px/2)
      line-height (64px/2)
    .f200
      font-size (60px/2)
      line-height (60px/2)
    .f187
      font-size (55px/2)
      line-height (55px/2)
    .f150
      font-size (40px/2) !important
      line-height (40px/2) !important
div[id^=slide]
  width 100%
  height inherit
  text-align center
  box-sizing border-box
  text-transform uppercase
  font-weight bold
  position relative
#slide1
  padding-top 5%
  animation-name scroll
  animation-duration timing
  animation-iteration-count 1
  animation-fill-mode forwards
  animation-timing-function ease
  img
    width 35%
#slide2
  padding-top 12%
#slide3
  background green
  padding-top 14%
#slide4
  padding-top 8%
#slide5
  padding-top 9%
  background pink
#slide6
  padding-top 14%
#slide7
  background blue
  padding-top 9%
#slide8
  padding-top 15%
#slide9
  background orange
  padding-top 9%
#slide10
  padding-top 11%

timing = timing + 1s

#slide11
  width 100%
  div[id^=slide11]
    position absolute
    bottom 0
    left 100%
    height inherit
    animation-timing-function ease
    animation-fill-mode both
    animation-iteration-count 1

#slide11a
  left 0
  animation-duration 1s
  animation-delay timing + .2s
  animation-name burgerKicked
  img
    position absolute
    top 12%
    margin-left -13%
    width 26%

#slide11b
  animation-duration 1s
  animation-delay timing
  animation-name pushBurger
  div
    display inline-block
    color white
    font-size 25px
#slide11b, #slide11c
  padding-top 16%
  div
    &:after
      content '/'
      display inline-block
      padding-left 5px
      padding-right 2px
      font-weight normal
    &.green:after
      color green
    &.blue:after
      color blue
    &.pink:after
      color pink
    &.violet:after
      color violet
    &.orange:after
      color orange

timing = timing + 4s
  
#slide11c
  padding-top 14%
  background black
  animation-delay timing
  animation-duration 0s
  animation-name pushBurger
  div
    display inline
    font-weight normal
    font-size 16px
    &:after
      display none
  .big
    div
      font-size 20px
  .small
    display block
    text-transform none
    div
      color white
  > .violet:after
    display none
    
timing = timing + 3s

#slide11d
  background black
  animation-delay timing
  animation-duration 0s
  animation-name pushBurger
  padding-top 22%